{% extends "partials/base.html" %} {% block content%}

<!-- Mes Produits -->
<div class="container">
  <div class="row">

    <div class="col-md-6">    
        {% if liste_produits %}
                <h2 class="card-title text-center mb-4">Mes produits</h2>
            {% for myProduit in liste_produits %}

            <div class="card text-center mb-4">
                <div class="card-header">{{myProduit.title}}</div>
                <div class="card-body">
                <div class="mb-4">
                    <img
                    src="{{myProduit.image.url}}"
                    class="card-img-top images"
                    alt="Fissure in Sandstone"
                    height="150"
                    />
                </div>
                <div>
                    <a href="#" class="btn btn-primary" data-mdb-ripple-init>Button</a>
                </div>
                </div>
                <div class="card-footer text-muted">2 days ago</div>
            </div>            
            {% endfor %}
        
        {% else %}
        <h2 class="card-title text-center mb-4"> Vous n'avez aucun produit</h2>
        {% endif %}      
    </div>
    <div class="col-md-6">
        <a href="" class="btn btn-danger float-end"><i class="fas fa-plus"></i> Ajouter Produit</a>
    </div>
    

  </div>
</div>
<!-- Mes Produits -->

{% endblock%}
