{% load static %}
<div id="navbar">
  <nav
    class="navbar navbar-expand-lg fixed-top navbar-light bg-body-tertiary"
    
  >
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static "img/GoodEat_Mylogo.png" %}" alt="Logo" id='logo'
        loading="lazy" />
      </a>
      <button
        data-mdb-collapse-init
        class="navbar-toggler"
        height="60"
        type="button"
        data-mdb-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'home' %}"
              >Accueil</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Admin</a>
          </li>
          {% comment %} <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">contact</a>
          </li> {% endcomment %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Apropos' %}">A propos</a>
          </li>
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a
              data-mdb-dropdown-init
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              aria-expanded="false"
            >
              Mon compte
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item" href="#">Action</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Another action</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      


        <!--compte user-->       
        <div class="d-flex align-items-center">
          <a class="nav-link" href="{% url 'login-blog' %}">
            <button
            data-mdb-ripple-init
            type="button"
            class="btn btn-link px-3 ms-3 me-2"
          > 
            Se connecter
          </button>
          </a>
          <a class="nav-link" href="{% url 'signup-blog' %}">
          <button
            data-mdb-ripple-init
            type="button"
            class="btn btn-primary me-3" 
          >
            Inscription
          </button>
        </a>
      </div>     
    
  </nav>
</div>
