{% extends 'base.html'%}
{% load static%}

{% block content %}
<div class="jumbotron">
    <h2>Bienvenue sur GoodEat</h2>
    <p>Explorez notre univers culinaire passionnant.</p>
</div>

Notre Histoire
Fondée en janvier 2024 par Stevy & Tresor, deux jeunes passionnés par la gastronomie, Good Eat est bien plus qu'une simple entreprise. C'est une aventure culinaire dédiée à la découverte et à l'appréciation des plaisirs gustatifs.

Notre Mission
Chez Good Eat, nous croyons fermement que la qualité alimentaire est essentielle pour une vie saine et épanouissante. Notre mission est de vous offrir des produits alimentaires exceptionnels, soigneusement sélectionnés pour leur qualité supérieure.

Ce que nous proposons
Découvrez notre sélection exquise de produits alimentaires, choisis avec amour pour leur goût authentique et leurs bienfaits pour la santé. Chaque produit que nous présentons sur notre site a été minutieusement sélectionné pour répondre à notre engagement envers l'excellence gastronomique.

Recettes pour l'inspiration
Nous ne sommes pas seulement une plateforme de vente de produits alimentaires, mais aussi une source d'inspiration culinaire. Chaque image de produit que vous trouvez sur notre site est accompagnée d'une recette détaillée, partageant des idées créatives pour utiliser nos produits de manière délicieuse.

Rencontrez les Fondateurs
Stevy & Tresor, les cerveaux derrière Good Eat, sont passionnés par l'idée de créer une communauté qui partage l'amour de la bonne nourriture. Leur expertise culinaire et leur engagement envers la qualité transparaissent dans chaque aspect de notre entreprise.

Rejoignez la Communauté Good Eat
Explorez notre site et découvrez l'expérience Good Eat. Que vous soyez un passionné de cuisine expérimenté ou un novice en quête d'aventures gustatives, nous sommes ravis de vous avoir parmi nous. Rejoignez notre communauté, partagez vos créations culinaires, et découvrez le plaisir de bien manger avec Good Eat.

Bienvenue dans notre univers gourmand !
{% endblock %}
