{% load static %}

<html>
  <!-- HEAD -->
    {% include "_head.html" %}
  <!-- HEAD -->

  <body>
    <!-- HEADER -->
    {% comment %} {% include "_header.html" %} {% endcomment %}
    {% include "headerConnexion.html" %}
    <!-- END HEADER -->

    <!-- Bar de Recherche -->
    {% include "_bare_recherche.html" %}

    <!-- MAIN BLOCK DATA PERSONNEL -->
    {% block content %}
    {% endblock %}
    <!-- END MAIN BLOCK DATA PERSONNEL -->
    
    <!-- FOOTER  -->    
      {% include "_footer.html" %}  
    <!-- END FOOTER -->

    <!-- fooTBody for JS/JQUERY -->
    <!-- MDB -->
    <script type="text/javascript" src="{% static 'js/jquery-3.7.1.min.js' %}"></script>    
    <script type="text/javascript" src="{% static 'js/mdb.umd.min.js' %}"></script>    

    <!-- scripts PERSONNEL -->
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>

    {% block scriptJS %}
    {% endblock %}
    
  </body>

</html>