<!-- Block des images generer aleatoirement -->
      <!-- {% if produit.image == 'http://default' %}
      <a href="{% url 'detail' produit.id %}">
        <img
          src="https://placehold.co/300x400"
          class="card-img-top images"
          alt="Fissure in Sandstone"
          style="height: 200px"
        />
      </a>
      {% else %} 
      <a href="{% url 'detail' produit.id %}">
        <img
          src="{{produit.image.url}}"
          class="card-img-top images"
          alt="Fissure in Sandstone"
          style="height: 180px"
        />
      </a>
      {% endif %} !-->
      <!-- End Block des images generer aleatoirement -->