
{% load static%}
<html>
  <!-- HEAD -->
    {% include "_head.html" %}
  <!-- HEAD -->
<body>
    <!-- HEADER -->
    {% include "_header.html" %}
    <!-- END HEADER -->

<!-- Titre -->
<div id="titre">
  <h1 class="text-black my-5 text-center">Alimentation saine et équilibrée</h1>
</div>
<!-- Bar de recherche -->
<div class="container">
  <div class="row">
    <div class="mb-3 p-3 col-10 col-md-8 col-lg-4 col-xl-4"></div>
    <div class="mb-3 p-3 col-10 col-md-8 col-lg-4 col-xl-4"></div>
    <div class="mb-3 p-3 col-10 col-md-8 col-lg-4 col-xl-4">
      <form class="d-flex input-group w-auto" id="formDeRecherche" action="{% url "search" %}">
        <input
          type="search"
          class="form-control"
          placeholder="Rechercher ici"
          aria-label="Search"
          name="produit"
          id="barreDeRecherche"          
        />
        <button
          data-mdb-ripple-init
          class="btn btn-outline-primary"
          type="button"
          data-mdb-ripple-color="dark"
          id="boutonRechercher"
        >
          Recherche
        </button>
      </form>
    </div>
  </div>

</div> 

<!-- Grille des Produits -->
<div class="container">
  <div class="row">
    {% for produit in liste_produits %}
    <div class="card mb-3 p-3 col-12 col-md-6 col-lg-3 col-xl-3">
      <a href="{% url 'detail' produit.id %}">
        <img
          src="{{produit.image.url}}"
          class="card-img-top images"
          alt="Fissure in Sandstone"
          style="height: 180px"
        />
      </a>
      
      <!-- card body -->
      <div class="card-body">
        <h5 class="card-title">{{produit}}</h5>
        <p class="card-text">
          {{produit.desc | truncatewords:8}} <br /><br />
          Publié il y'a {{produit.created_add|timesince}}
        </p>
        <a
          href="{% url 'detail' produit.id %}"
          class="btn btn-primary"
          data-mdb-ripple-init
          >
          Voir plus
        </a >
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- FOOTER  -->    
{% include "_footer.html" %}  
<!-- END FOOTER -->
</body>
  <!-- fooTBody for JS/JQUERY -->
    <!-- MDB -->
    <script type="text/javascript" src="{% static 'js/mdb.umd.min.js' %}"></script>
    <!-- scripts PERSONNEL -->
    <script type="text/javascript" src="{% static 'js\script.js' %}"></script>
</html>
